.appContainer {
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-color);

  text-align: center;

  &__title {
    font-size: 2rem;
    color: var(--nct-color);
  }
}

.buttonContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
